.link {
  height: 333px;
  width: 255px;
  margin-top: 20px;
}

.linkConent {
  padding: 30px;
  display: flex;
  flex-direction: column;
  background: white;
  border-top: 4px solid #8c1515;
  font-size: 18px;
  line-height: 40px;
  align-items: flex-start;
}

.linkConent li {
  width: 100%;
  list-style: none;
  padding-bottom: 10px;
  border-bottom: 1px solid #949292;
}

.linkConent li:last-child {
  border: none;
}

.linkConent a {
  color: black;
  text-decoration: none;
}

.linkConent a:hover {
  color: #8c1515;
}
