.wrapper {
  /* height: auto; */
  width: 100vw;
}

.container {
  margin: 0 90px;
}

.up {
  display: flex;
  gap: 35px;
}

.left {
  width: 100vw;
  display: flex;
  flex-direction: column;
  gap: 25px;
}

/*  */
.right {
  width: 35vw;
}

.archives {
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 150px;
  width: 100%;
  border-top: 3px solid #8c1515;
  margin-top: 22px;
  padding: 0 45px;
}

.labelName {
  font-size: 29px;
  font-weight: bold;
}

.monthSelect {
  border: 0.5px solid rgb(197, 197, 197);
  background-color: transparent;
  height: 45px;
  padding: 0 20px;
  border-radius: 5px;
  font-size: 16px;
  color: #949393;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  cursor: pointer;
}

.monthOption {
  padding: 0 30px;
}

.tags {
  margin: 20px 0;
}

.tags h2 {
  font-size: 29px;
  font-weight: bold;
  margin-bottom: 15px;
}

.tag {
  border: 0.5px solid rgb(197, 197, 197);
  background-color: white;
  margin: 5px;
  font-size: 15px;
  padding: 5px;
  color: #002147;
  cursor: pointer;
  transition: all 0.3s ease;
}

.tag:hover {
  color: #8c1515;
  border: 0.5px solid #8c1515;
}

/*  */
.bottom {
  height: 100px;
  width: 100vw;
  display: flex;
  align-items: center;
  /* justify-content: center; */
  gap: 30px;
  margin: 30px 0;
}

.bottom .icon {
  border: 2px solid #8c1515;
  height: 50px;
  width: 48px;
  font-weight: 600;
  border-radius: 3px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 15px;
  transition: all 0.3s ease;
}

.icon svg {
  height: 25px;
  width: 25px;
}

.bottom .icon:hover {
  border: 2px solid #002147;
}

.btn {
  border: 2px solid #8c1515;
  outline: none;
  background-color: transparent;
  font-weight: 600;
  height: 50px;
  width: 48px;
  border-radius: 3px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.btn:hover {
  border: 2px solid #002147;
}
